<template name="ConfigureIntellidoorUsers">
    <div class="col s12">
        {{#with door_info}}
            <h2 class="header">Configure users for door @{{custom_name}}</h2>

            <p class="caption">Add and remove users with access to this door.</p>

            <table>
                <thead>
                <tr>
                    <th data-field="email">Email</th>
                    <th data-field="has-access">Has access</th>
                    <th data-field="edit-user">Edit user</th>
                </tr>
                </thead>

                <tbody>
                {{#each users_with_access}}
                    <tr>
                        <td>{{email}}</td>
                        <!--<td>{{has_access}}</td>-->
                        <td> <div class="switch">
                            <label>
                                Off
                                {{#if has_access}} <input class="user-has-access" type="checkbox" checked> {{else}} <input class="user-has-access" type="checkbox"> {{/if}}
                                <span class="lever"></span>
                                On
                            </label>
                        </div></td>
                        <td><a class="btn-floating btn-small waves-effect waves-light orange" href="/configure-intellidoor/{{user_id}}/configure-users"><i class="mdi-editor-mode-edit"></i></a></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <a class="btn-floating btn-medium waves-effect waves-light green modal-trigger" href="#modal-new-user"><i class="mdi-content-add"></i></a>
        {{/with}}
    </div>


    <div id="modal-new-user" class="modal">
        <div class="modal-content">
            <h4>Add new user to access door</h4>
            <div class="input-field col s6">
                <input id="new-user-email" type="text" class="validate">
                <label for="new-user-email">User email</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            <a href="#!" id="btn-add-user" class="modal-action modal-close waves-effect waves-green btn-flat">Add User</a>
        </div>
    </div>
</template>