<template name="Dashboard">
    <!--<div class="col s12">
        <h2 class="header">Your Dashboard</h2>

        <p class="caption">The most intelligent door you have ever seen. Probably better than the status quo.</p>
    </div>-->
    <div class="col s12">
        <div class="card small">

        </div>
    </div>
    <div class="col s6">
        <div class="card small">

        </div>
    </div>

    <div class="col s6">
        <div class="card small">

        </div>
    </div>
</template>